services:
  db:
    image: postgres:16
    container_name: postgres_container
    environment:
      POSTGRES_USER: sergey
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
